<template>
  <div class="greed" ref="container">
    <!-- simple loader for images -->
    <div v-if="showLoader" class="loader"></div>
  </div>
</template>

<script>
import axios from "axios";
import "../assets/loader.css";


export default {
  name: 'Greed',
  
  data(){
    return{
      images: [],
      start: 0,
      limit: 16,
      showLoader: false
    }
  },

  created() {
    window.addEventListener('scroll', this.handleScroll);
  },

  mounted(){
    this.getImages();
  },

  methods: {
    getImages(){
      this.showLoader = true;
       axios
      .get(`https://jsonplaceholder.typicode.com/photos?_start=${this.start}&&_limit=${this.limit}`)
      .then(response => {
        this.images = [...response.data];
        this.appendImages();
      })
      .catch(error => console.log(error))
    },

    handleScroll() {
      let ScrollHeight = parseInt(document.documentElement.scrollTop + window.innerHeight + 2);
      let screenHeight = parseInt(document.documentElement.offsetHeight);

      if(ScrollHeight > screenHeight){
        this.getImages();
        this.start += parseInt(this.limit);
      }
    },

    removeImage(_e){
      let id = _e.target.getAttribute('data-id');
      let list = this.images.filter(x => x.id != id)
      this.images = list;
      _e.target.remove();
    },

    appendImages(){
      this.images.forEach( img => {
        // Append by injection on DOM
        let image = document.createElement('div');
        image.classList.add('image','smooth-appear');
        image.style.backgroundImage = `url(${img.url})`;
        image.setAttribute('data-id',img.id);
        image.addEventListener('click', this.removeImage);

        this.$refs.container.appendChild(image);
        this.showLoader = false;
      })
    },

  },

  destroyed () {
    window.removeEventListener('scroll', this.handleScroll);
  }
  
}
</script>

<style lang="scss">

.greed{
  width: 100%;
  display: flex;
  flex-flow: wrap;

  .image{
    width: 25%;
    display: flex;
    // min-width: 250px;
    min-height: 250px;
    height: auto;
    animation: smootthShow 4s ease;
    opacity: 1;
    &:hover{
      cursor: pointer;
    }
    @media all and (max-width: 600px) { 
      width: 50%;
      min-width: 100px;
    }
  }

  @keyframes smootthShow {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }

}
</style>
