
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation-fill-mode: both;
  animation: load7 1s infinite ease-in-out;
}
.loader {
  color: black;
  font-size: 20px;
  margin: 0 auto;
  position: fixed;
  left: 50%;
  bottom: 100px;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -30px;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 30px;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}