<template>
  <div id="app">
    <h1>Simple Image loader</h1>
    <Greed />
  </div>
</template>

<script>
import Greed from './components/Greed.vue'

export default {
  name: 'App',
  components: {
    Greed
  },
}
</script>

<style lang="scss">
#app {
  box-sizing:border-box;
  *{box-sizing: border-box;} 
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

</style>
